body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-header {
  max-width: 100%;
  flex: 1;
}

footer {
  flex-shrink: 0;
}
.table thead th {
vertical-align: middle;
}
.banner-container {
  max-width: 100%;
  margin: 0 auto;
}

.banner-container img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1440px) {
  #zipTable thead th.font-weight-bold.small {
    font-size: 16px;
  }

  #zipTable tbody td.font-weight-bold.normal {
    font-size: 18px;
  }

  #zipTable_paginate {
    font-size: 18px;
  }

  #zipTable_paginate .pagination .page-item .page-link {
    font-size: 18px;
  }
  .form-inline label,
  .form-inline input,
  .form-inline button,
  #entriesPerPage {
    font-size: 18px;
}
}

@media (max-width: 1024px) {
  #zipTable thead th.font-weight-bold.small {
    font-size: 16px;
  }

  #zipTable tbody td.font-weight-bold.normal {
    font-size: 18px;
  }

  #zipTable_paginate {
    font-size: 18px;
  }

  #zipTable_paginate .pagination .page-item .page-link {
    font-size: 18px;
  }
  .form-inline label,
  .form-inline input,
  .form-inline button,
  #entriesPerPage {
    font-size: 18px;
}
}
@media(max-width: 320px) {
  #zipTable_paginate {
    font-size: 14px;
  }

  #zipTable_paginate .pagination .page-item .page-link {
    padding: 0.25rem 0.25rem;
    align-items: center;
    font-size: 14px;
  }

  #zipTable thead th.font-weight-bold.small {
    font-size: 12px;
  }

  #zipTable tbody td.font-weight-bold.normal {
    font-size: 10px;
  }
  .form-inline label,
  .form-inline input,
  .form-inline button,
  #entriesPerPage {
    font-size: 12px;
  }
}

@media(max-width: 375px){
#zipTable_paginate {
  font-size: 14px;
}

#zipTable_paginate .pagination .page-item .page-link {
  padding: 0.25rem 0.25rem;
  align-items: center;
  font-size: 14px;
}
#zipTable thead th.font-weight-bold.small {
  font-size: 12px;
}
#zipTable tbody td.font-weight-bold.normal {
  font-size: 10px;
}
.form-inline label,
.form-inline input,
.form-inline button,
#entriesPerPage {
font-size: 12px;
}
}

@media(max-width: 425px) {
  #zipTable_paginate {
    font-size: 14px;
  }

  #zipTable_paginate .pagination .page-item .page-link {
    padding: 0.25rem 0.25rem;
    align-items: center;
    font-size: 14px;
  }

  #zipTable thead th.font-weight-bold.small {
    font-size: 12px;
  }

  #zipTable tbody td.font-weight-bold.normal {
    font-size: 10px;
  }
  .form-inline label,
  .form-inline input,
  .form-inline button,
  #entriesPerPage {
    font-size: 12px;
  }
}

@media(max-width: 767px) {
  #zipTable_paginate {
    font-size: 18px;
  }

  #zipTable_paginate .pagination .page-item .page-link {
  padding: 0.25rem 0.25rem;
  align-items: center;
  font-size: 18px;
  }
}