<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZIP Code Search</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>

    <header class="container-header bg-dark text-light ">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="col-md-6">
                <h3 class="mb-0 font-weight-bold">ZIPKODE</h3>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-light font-weight-bold"
                        href="https://ko-fi.com/kents_workof_art"
                        target="_blank"
                        rel="noreferrer noopener">DONATE
                </a>
            </div>
        </div>
    </header>
     <div class="banner-container">
        <img src="{{ url_for('static', filename='streetmap.png') }}" alt="Your Image" class="img-fluid">
    </div>
    <div class="container mt-4">
        {% if result %}
            <div class="table-responsive">
                <table id="zipTable" class="table table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th class="font-weight-bold small">REGION</th>
                            <th class="font-weight-bold small">PROVINCE</th>
                            <th class="font-weight-bold small">CITY/MUNICIPALITY</th>
                            <th class="font-weight-bold small">ZIP CODE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for region, provinces in result.items() %}
                            {% for province, cities in provinces.items() %}
                                {% for city, zip_code in cities.items() %}
                                    <tr>
                                        <td class="font-weight-normal normal">{{ region }}</td>
                                        <td class="font-weight-normal normal">{{ province }}</td>
                                        <td class="font-weight-normal normal">{{ city }}</td>
                                        <td class="font-weight-normal normal">{{ zip_code }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% elif not result %}
          <h3 style="text-align: center;">The data you are looking for does not exist.</h3>
        {% else %}
            {% for region, provinces in result.items() %}
                {% for province, cities in provinces.items() %}
                    {% for city, zip_code in cities.items() %}
                        <tr>
                            <td class="font-weight-normal small">{{ region }}</td>
                            <td class="font-weight-normal small">{{ province }}</td>
                            <td class="font-weight-normal small">{{ city }}</td>
                            <td class="font-weight-normal small">{{ zip_code }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    <footer class="bg-dark text-light py-3 text-center">
        <div class="container">
            <p class="mb-0">© 2024 Kent Edoloverio, All Rights Reserved.</p>
            <a href="https://github.com/kents00/ZipKode/blob/main/README.md" class="text-light mr-3">Documentation</a>
        </div>
    </footer>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
