<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZIP Code Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>ZIP Code Search</h1>
        <form method="POST" action="/search">
            <label for="searchTerm">Search:</label>
            <input type="text" id="searchTerm" name="search_term" required>
            <button type="submit">Search</button>
        </form>

        {% if result %}
            <h2>Search Results for "{{ search_term }}":</h2>

            <!-- Dropdown for number of entries -->
            <label for="entriesPerPage">Entries per page:</label>
            <select id="entriesPerPage" onchange="changeEntriesPerPage()">
                <option value="10">10</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

            <!-- Pagination -->
            <ul>
                {% for region, provinces in result.items() %}
                    <li>
                        <strong>Region:</strong> {{ region }}<br>
                        {% for province, cities in provinces.items() %}
                            <strong>Province:</strong> {{ province }}<br>
                            {% for city, zip_code in cities.items() %}
                                <strong>City:</strong> {{ city }}<br>
                                <strong>ZIP Code:</strong> {{ zip_code }}<br>
                            {% endfor %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
